<ng-template #templateModal>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      this is body
  </div>
</ng-template>

<!-- <div>
  <div>
    <form [formGroup]="createToDoForm" (ngSubmit)="onSubmit()">
      <div class="col-md-12">
        <label>Name</label>
        <input id="name" [formControlName]="'name'" class="form-control" type="text" />
        <small *ngIf="(createToDoForm.get('name').invalid && createToDoForm.get('name').touched)">
          <span class="alert-danger"> Please provide valid Data </span>
        </small>
      </div>
      <div class="col-md-12">
        <label>Description</label>
        <input [formControlName]="'description'" class="form-control" type="text" required>
        <small *ngIf="(createToDoForm.get('description').invalid && createToDoForm.get('description').touched)">
          <span class="alert-danger"> Please provide valid Data </span>
        </small>
      </div>
      <div class="col-md-12">
        <label>Status</label>
        <div>
          <div>
            <input id="radio1" type="radio" [formControlName]="'status'" name="status" value="true" required>
            <label for="radio1"> Not Complete </label>
          </div>
          <div>
            <input id="radio2" type="radio" [formControlName]="'status'" name="status" value="false" required>
            <label for="radio2">Complete</label>
          </div>
        </div>
        <button type="btn btn-primary" class="btn btn-primary"> Add ToDo </button>
      </div>
    </form>
  </div>
</div>  -->