<div>
  <div>
    <form [formGroup]="createToDoForm">
      <div class="col-md-12">
        <label>Name</label>
        <input id="name" [formControlName]="'name'" class="form-control" type="text" />
        <small *ngIf="(createToDoForm.get('name').invalid
                                            && createToDoForm.get('name').touched)" class="form-text text-muted">
          <span class="form-text text-muted">
            Invalid name
          </span>
        </small>
      </div>
      <div class="col-md-12">
        <label>Description</label>
        <input [formControlName]="'description'" class="form-control" type="text">
      </div>
      <div class="col-md-12">
        <label>Status</label>
        <div >
          <input type="radio"[formControlName]="'status'" name="status" value="true"> Not Complete
          <br>
          <input type="radio" [formControlName]="'status'"
           name="status" value="false"> Complete
          <br>
        </div>
        <button type="button" class="btn btn-primary">
          Add ToDo
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Modal -->
<!-- <div *ngIf="isModalShown" bsModal #Modal="bs-modal"
 class="modal fade" tabindex="-1" id="myModal"
 role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->